---
title: Introducción a Prolog
disqus: intro-prolog
---

<style>
.cursor {
    color: #E88D3E;
    font-weight: bold;
}

.graph div {
  font-size: 0.9em;
  text-align: left;
}

#g3 code {
  padding-left: 2em;
}

#g3 code::before {
  content: '\00a0\00a0';
  font-size: 1.3em;
  line-height: 0.7em;
}

#g3 .c1::before {
  content: '●\00a0';
  color: #E88D3E;
}

#g3 .c2::before {
  content: '\00a0●';
  color: #96E830;
}

#g3 .c1.c2::before {
  content: '●●';

  background: -webkit-linear-gradient(left, #E88D3E 0%, #E88D3E 50%, #96E830 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>

<script>
<%= partial "scripts.js" %>
</script>

<div class="box">
<i>Los links en el artículo muestran animaciónes que van llevando el relato. Están ideados para ser presionados en orden.</i>
</div>


<%= partial "01_session" %>
<%= partial "02_primer_programa" %>
<%= partial "03_goals_compuestos" %>
<%= partial "04_reglas" %>


--

## Referencias

* [http://www.amzi.com/AdventureInProlog](http://www.amzi.com/AdventureInProlog)
